@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin: 15px 0;
}

h2 {
    margin: 0;
}

p {
    margin-top: 4px;
}

hr {
    border-top: 2px solid;
}

.main-container {
    width: 650px;
    margin-top: 6px;
}

.sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sub span a {
    text-decoration: none;
}

.project-container {
    height: 65vh;
    overflow-y: auto;
}

.project {
    cursor: pointer;
    display: flex;
    align-items: start;
    height: 115px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px white;
    border-radius: 60px;
    background-color: rgb(237, 237, 237);
    transition: height 0.4s ease-out;
}

.project:hover {
    /* border-color: black; */
    background-color: rgb(214, 214, 214);
}

/* .project a {
} */

.project-icon {
    background-color: #000000;
    padding: 20px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    place-content: center;
}

.project-icon img {
    max-width: 48px;
    max-height: 48px;
}

.project-details {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-logo {
    width: 48px;
    height: 48px;
}

.stack-div {
    margin-top: -10px;
}
.tech-stack {
    padding: 4px 8px;
    border: solid 1px grey;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
      .container {
        width: 400px;
      }
      h1 {
        font-size: 2rem;
      }
}